html, body{
    font-size:16px;
    margin:0;
    font-family:Avenir;
  }
  a{
    color:inherit;
    text-decoration:none;
  }
  nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:black;
    color:white;  
  }
  nav i{
    font-size:4rem;
    color:#cc3333;
    margin-left:1rem;
  }
  nav a{
    margin-right:1rem;
  }
  .cover{
    background:red;
    height:500px;
    background-image:url('https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80');
    position:relative;
    z-index:1;
    color:white;
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .cover i{
    font-size:7rem;
  }
  
  .cover h1{
    margin:0;
    font-size:4rem;
  }
  .cover p{
    font-size:1.5rem;
    padding:0px 100px 0px 100px;
  }
  
  .overlay{
    height:100%;
    width:100%;
    background:black;
    opacity:.7;
    
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
  }